<!DOCTYPE html>
<html lang="en">
<head>
    <title>视频</title>
    <style>
        body {
            padding: 0;
            margin: 0;
        }
    </style>
</head>


<body>

<video src="{{ videoUrl }}" width="100%" autoplay controls>
    <h2>我们很抱歉，您的浏览器<strong>不支持video标签</strong></h2>
    <a href="https://www.google.cn/chrome/">点击这里下载浏览器</a>
</video>

</body>
</html>
